<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.personal.product.dao.DimensionDao">

	<select id="get" resultType="com.personal.product.domain.DimensionDO">
		select `id`,`pid`,`type_pid`,`type_id`,`name`,`memo`,`add_time`,`update_time` from bus_dimension where id = #{value}
	</select>

	<select id="list" resultType="com.personal.product.domain.DimensionDO">
		select `id`,`pid`,`type_pid`,`type_id`,`name`,`memo`,`add_time`,`update_time` from bus_dimension
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		  <if test="typePid != null and typePid != ''"> and type_pid = #{typePid} </if>
		  		  <if test="typeId != null and typeId != ''"> and type_id = #{typeId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="memo != null and memo != ''"> and memo = #{memo} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from bus_dimension
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		  <if test="typePid != null and typePid != ''"> and type_pid = #{typePid} </if>
		  		  <if test="typeId != null and typeId != ''"> and type_id = #{typeId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="memo != null and memo != ''"> and memo = #{memo} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.personal.product.domain.DimensionDO" useGeneratedKeys="true" keyProperty="id">
		insert into bus_dimension
		(
			`pid`, 
			`type_pid`, 
			`type_id`, 
			`name`, 
			`memo`, 
			`add_time`, 
			`update_time`
		)
		values
		(
			#{pid}, 
			#{typePid}, 
			#{typeId}, 
			#{name}, 
			#{memo}, 
			#{addTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.personal.product.domain.DimensionDO">
		update bus_dimension 
		<set>
			<if test="pid != null">`pid` = #{pid}, </if>
			<if test="typePid != null">`type_pid` = #{typePid}, </if>
			<if test="typeId != null">`type_id` = #{typeId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="memo != null">`memo` = #{memo}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from bus_dimension where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from bus_dimension where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>