<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.personal.product.dao.ProductDao">

	<select id="get" resultType="com.personal.product.domain.ProductDO">
		select `id`,`name`,`memo`,`pic`,`shop_id`,`dimension_data`,`price`,`real_price`,`cash`,`status`,`add_time`,`update_time`,`type` from bus_product where id = #{value}
	</select>

	<select id="list" resultType="com.personal.product.domain.ProductDO">
		select `id`,`name`,`memo`,`pic`,`shop_id`,`dimension_data`,`price`,`real_price`,`cash`,`status`,`add_time`,`update_time`,`type`,`slod_nums` from bus_product
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="memo != null and memo != ''"> and memo = #{memo} </if>
		  		  <if test="pic != null and pic != ''"> and pic = #{pic} </if>
		  		  <if test="shopId != null and shopId != ''"> and shop_id = #{shopId} </if>
		  		  <if test="dimensionData != null and dimensionData != ''"> and dimension_data = #{dimensionData} </if>
		  		  <if test="Price != null and Price != ''"> and price = #{Price} </if>
		  		  <if test="realPrice != null and realPrice != ''"> and real_price = #{realPrice} </if>
		  		  <if test="cash != null and cash != ''"> and cash = #{cash} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from bus_product
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="memo != null and memo != ''"> and memo = #{memo} </if>
		  		  <if test="pic != null and pic != ''"> and pic = #{pic} </if>
		  		  <if test="shopId != null and shopId != ''"> and shop_id = #{shopId} </if>
		  		  <if test="dimensionData != null and dimensionData != ''"> and dimension_data = #{dimensionData} </if>
		  		  <if test="Price != null and Price != ''"> and price = #{Price} </if>
		  		  <if test="realPrice != null and realPrice != ''"> and real_price = #{realPrice} </if>
		  		  <if test="cash != null and cash != ''"> and cash = #{cash} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.personal.product.domain.ProductDO">
		insert into bus_product
		(
			`id`, 
			`name`, 
			`memo`, 
			`pic`, 
			`shop_id`, 
			`dimension_data`, 
			`price`, 
			`real_price`, 
			 
			`cash`, 
			`status`, 
			`add_time`, 
			`update_time`, 
			`type`
		)
		values
		(
			#{id}, 
			#{name}, 
			#{memo}, 
			#{pic}, 
			#{shopId}, 
			#{dimensionData}, 
			#{Price}, 
			#{realPrice}, 
			#{cash}, 
			#{status}, 
			#{addTime}, 
			#{updateTime}, 
			#{type}
		)
	</insert>
	 
	<update id="update" parameterType="com.personal.product.domain.ProductDO">
		update bus_product 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="memo != null">`memo` = #{memo}, </if>
			<if test="pic != null">`pic` = #{pic}, </if>
			<if test="shopId != null">`shop_id` = #{shopId}, </if>
			<if test="dimensionData != null">`dimension_data` = #{dimensionData}, </if>
			<if test="Price != null">`price` = #{Price}, </if>
			<if test="realPrice != null">`real_price` = #{realPrice}, </if>
			<if test="cash != null">`cash` = #{cash}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="type != null">`type` = #{type}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from bus_product where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from bus_product where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>