<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.personal.product.dao.ProductPromotionDao">

	<select id="get" resultType="com.personal.product.domain.ProductPromotionDO">
		select `id`,`product_id`,`promotion_id`,`add_time` from bus_product_promotion where id = #{value}
	</select>

	<select id="list" resultType="com.personal.product.domain.ProductPromotionDO">
		select `id`,`product_id`,`promotion_id`,`add_time` from bus_product_promotion
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="promotionId != null and promotionId != ''"> and promotion_id = #{promotionId} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from bus_product_promotion
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="promotionId != null and promotionId != ''"> and promotion_id = #{promotionId} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.personal.product.domain.ProductPromotionDO">
		insert into bus_product_promotion
		(
			`id`, 
			`product_id`, 
			`promotion_id`, 
			`add_time`
		)
		values
		(
			#{id}, 
			#{productId}, 
			#{promotionId}, 
			#{addTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.personal.product.domain.ProductPromotionDO">
		update bus_product_promotion 
		<set>
			<if test="productId != null">`product_id` = #{productId}, </if>
			<if test="promotionId != null">`promotion_id` = #{promotionId}, </if>
			<if test="addTime != null">`add_time` = #{addTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from bus_product_promotion where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from bus_product_promotion where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>